// 确认弹窗自定义样式
.confirm-dialog-diy{
  border-radius: 8px;
  width: 540px;
  .van-dialog__header{
    padding-top: 20px;
    font-weight: bold;
  }
  .van-dialog__message{
    padding: 26px 20px 40px 20px;
    color: #333;
  }
  .van-dialog__cancel{
    color: rgb(31, 18, 18);
    font-size: 14px;
    border-top: 2px #f0f0f0 solid;
    height: 46px;
    line-height: 100%;
  }
  .van-dialog__confirm{
    background: #4B78B0;
    font-size: 14px;
    color: #fff;
    height: 46px;
    line-height: 100%;
  }
}